
/*********************************************/
/*HEADER*/
/*********************************************/
.header .telephone::before,
.header .button::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #5fa500;
}

.header .button_address .open_contacts {
  position: relative;
  padding-left: 3.54vw;
}
.header .button_address .open_contacts::before {
  content: '';
  position: absolute;
  top: .25vw;
  left: 1.8vw;
  width: 1.2vw;
  height: 1.61vw;
  background: url("../img/address.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.header .button_address:hover .open_contacts::before{
  content: '';
  width: 1.2vw;
  height: 1.61vw;
  background: url("../img/address-hover.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.header .button_callback .button_input {
  position: relative;
  padding-left: 3.4vw;
  padding-right: .5vw;
}

.button_callback .button_input::before {
  content: '';
  position: absolute;
  top: .5vw;
  left: 1.5vw;
  width: 1.5vw;
  height: 1.38vw;
  background: url("../img/mail.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.header .button_callback:hover .button_input::before{
  content: '';
  width: 1.5vw;
  height: 1.38vw;
  background: url("../img/mail-hover.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}


.header .button_address:hover,
.header .button_callback:hover,
.header .city:hover {
  color: #b2ff43;
}

.header .button_address:hover {

}

.header .button_callback:hover {

}

.header .city span:hover {
  border-bottom: 0.1vw dashed #b2ff43;
}

.mobile_bottom .telephone,
.header .telephone {
  margin-left: -0.4vw;
  width: 16.6vw;
}
.header .button::before,
.header .city::before{
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: 0;
  background-color: #82d90f;
}
.mobile_bottom .telephone .number,
.header .telephone .number {
  font-weight: 700;
  font-size: 134%;
  letter-spacing: 0.1vw;
}
.mobile_bottom .telephone .text,
.header .telephone .text {
  font-size: 80%;
}
.hr_calc_mobile,
.mobile_bottom {
  display: none;
}
.header .button_input {
  border: none;
  font-size: 85%;
  font-weight: 500;
  padding: 0.2vw 1.2vw;
  margin-top: .7vw;
  cursor: pointer;
}
.header .button_input:hover {
  background: none;
}

.header .button span {
  vertical-align: top;
  display: inline-block;
  margin-top:0.3vw;
}
.header .button img {
  padding-right: .2vw;
  margin-top: .2vw;
}
.header .button:nth-child(3) img {
  height:1.6vw;
}
.header .button:nth-child(4) img {
  height:1.5vw;
}
.header .button:nth-child(5) img {
  height:1.3vw;
}
.header .button:nth-child(3) .button_input {
  border: 0.1vw solid #397f21;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius: 4px;

  margin-left: 0.9vw;
  margin-right: 0.9vw;
  background-color: #ebbe09;
  border: 1px solid #e9c555;
  border-bottom: 1px solid #d29b0e;
  border-top: 1px solid #fbe68d;
  -webkit-box-shadow: .1vw .1vw .1vw rgba(0, 0, 0, 0.1);
  -moz-box-shadow: .1vw .1vw .1vw rgba(0, 0, 0, 0.1);
  box-shadow: .1vw .1vw .1vw rgba(0, 0, 0, 0.1);
}

/*********************************************/
/*c-stock-preview*/
/*********************************************/
.stock_list {
  text-align: justify;
  margin-right: 1vw;
}
.stock_list::after {
  content: '';
  display: inline-block;
  width: 100%;
}

.stock_item {
  display: inline-block;
}


.c-stock-preview {
  position: relative;
  display: inline-block;
  width: 20vw;
  /*height: 9.01vw;*/
  background-image: linear-gradient(to top, #EDEDED 0%, #FFF 100%);
  border: 1px solid #D7DCDF;
  border-radius: .31vw;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.06);
  color: #363636;
  font-family: "Open Sans", sans-serif;
  font-size: .65vw;
  font-weight: 400;
  margin: 0 .2vw;
}

.c-stock-preview:first-child {
  margin-left: 0;
}

.c-stock-preview:last-child {
  margin-right: 0;
}

.c-stock-preview_more {
  font-family: Arial, sans-serif;
  color: #3e3e3e;
  position: absolute;
  right: .6vw;
  bottom: .76vw;
  width: 1.68vw;
  height: .78vw;
  background: url("../img/icon-stock-arrow.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.c-stock-preview_more:hover {
  width: 1.68vw;
  height: .78vw;
  background: url("../img/icon-stock-arrow-hover.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.c-stock-preview .c-stock-preview_header {
  padding: .57vw;
  background-color: #F1F1F1;
  border-bottom: 1px solid #D7DCDF;
}

.c-stock-preview .c-stock-preview_header::after {
  content: '';
  display: block;
  clear: both;
}

.c-stock-preview .c-stock-preview_date {
  width: 3.39vw;
  height: 3.39vw;
  background: url("../img/stock-date-bg.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  float: left;
  text-align: center;
}

.c-stock-preview .c-stock-preview_date-number {
  color: #363636;
  font-size: 1.2vw;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: .83vw;
  line-height: .8;
}

.c-stock-preview .c-stock-preview_date-month {
  color: #363636;
  font-size: .57vw;
  font-weight: 300;
}

.c-stock-preview .c-stock-preview_title {
  margin-left: 4.17vw;
  color: #363636;
  font-family: "Open Sans";
  font-size: .94vw;
  font-weight: 600;
  text-align: left;
  padding-right: 1.34vw;
}

.c-stock-preview .c-stock-preview_body {
  padding: .57vw 1.71vw 2.08vw .85vw;
}

.c-stock-preview .c-stock-preview_text {
  text-align: left;
}

.c-stock-preview .c-stock-preview_tag {
   position: absolute;
   top: 0;
   right: .9vw;
   width: .83vw;
   height: 2.9vw;
   background: url("../img/icon-stock-tag.png") 0 0 no-repeat;
   -webkit-background-size: cover;
   background-size: cover;
 }

/*********************************************/
/*calculation*/
/*********************************************/
.calculation {
  margin-top: 1.59vw;
  margin-bottom: 1.4vw;
  position: relative;
}
.calculation .h3 {
  text-align: center;
  padding: .8vw 0 1.2vw;
  background-image: linear-gradient(to top, #44A70E 0%, #44A70E 0%, #74CB00 100%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.calculation .h3 .h4 {
  color: #ffffff;
  font-weight: 700;
  padding: .4vw 0 .2vw;
  display: block;

  font-size: 190%;
  text-transform: uppercase;
  text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.2);
}
.calc_wall {
  display: none;
  position: absolute;
  height: 300vw;
  width: 300vw;
  left: -50vw;
  top:-50vw;
  background-color: rgba(0,0,0,0.7);
  z-index: 10;
}
.calculation .h3 .text{
  color: #ffffff;
  display: block;
  font-size: 90%;
  margin-top: -0.3vw;
}
.calculation > .block {
  /*background: url("../img/calc_back.png")no-repeat center / cover;*/
  background: #FFF;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.09);
  /*height: 28vw;*/
  height: auto;
}
.calculation .block::after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  background: url("../img/shares_calc.png");
}
.calculation .calc_content {
  padding: .8vw .9vw;
}
.calculation .calc_content .sum {
  color: #262F47;
  font-size: 14px;
  font-weight: 400;
  font-size: 80%;
  font-weight: 700;
  padding: 0.5vw 3.5vw 0;
  padding: 0;
}
.calculation-box_list {
  text-align: justify;
}
.calculation-box_list + .calculation_range {
  margin-top: -1.5vw;
}

.calculation-box_list::after {
  content: "";
  display: inline-block;
  width: 100%;
}
.calculation-box_column {
  display: inline-block;
}

.calculation-box_left {
  /*float: left;*/
  display: inline-block;
  text-align: left;
}

.calculation-box_right {
  /*float: right;*/
  /*margin-top: .48vw;*/
  display: inline-block;
  text-align: right;
}

.calculation-box_left::after,
.calculation-box_right::after {
  content: "";
  clear: both;
  display: block;
}

.calculation-box_number {
  color: #262F47;
  font-size: 19px;
  font-weight: 700;
}

.calculation_input {
  display: inline-block;
}

.calculation_input .range-value {
  color: #262F47;
  font-size: 1vw;
  font-weight: 700;
  background-color: #FFF;
  border: 1px solid #D8D8D8;
  border-radius: .31vw;
  padding: .52vw .96vw;
}

.calculation_input .range-value_price {
  width: 5.25vw;
}

.calculation_input .range-value_day {
  width: 3.43vw;
}

.calculation_stock {
  color: #262F47;
  font-family: "Open Sans", sans-serif;
  font-size: .63vw;
  font-weight: 400;
  padding: .4vw;
  text-align: center;
  background-color: #F4F4F4;
  border-radius: 4px;
  width: 100%;
  margin-bottom: .94vw;
}

.calculation-contents {
  padding: 1vw 0 1.15vw;
  border-top: 1px solid #dedede;
  text-align: center;
}

.calculation-contents_sum {
  display: inline-block;
  background-color: #F4F4F4;
  border-radius: 4px;
  padding: .59vw 0;
  width: 59%;
  height: 4.4vw;
  display: inline-block;
  vertical-align: top;
}

.calculation-contents_sum-title {
  color: #353535;
  font-size: .94vw;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.calculation-contents_sum-text {
  color: #353535;
  font-size: .94vw;
  font-weight: 400;
  text-align: center;
}

.calculation-contents_sum-number {
  color: #353535;
  font-size: 1.56vw;
  font-weight: 700;
  text-transform: uppercase;
}

.calculation-contents_btn {
  display: inline-block;
  background-color: #44A70E;
  background-image: linear-gradient(to top, #44A70E 0%, #44A70E 0%, #74CB00 100%);
  border-radius: 4px;
  color: #FFF;
  font-size: .94vw;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: -1px 0 0 rgba(58, 127, 33, 0.4);
  padding: 1.35vw 2.76vw;
  padding: 1.35vw 0;
  vertical-align: top;
  border: none;
  outline: none;
  cursor: pointer;
  width: 40%;
  height: 4.4vw;
}

.calculation-contents_btn:hover {
  background-image: linear-gradient(to top, #74CB00 0%, #44A70E 0%, #44A70E 100%);
}

.calculation-contents_btn img{
  display: inline-block;
  width: 2.08vw;
  height: 1.72vw;
  margin-right: .73vw;
  vertical-align: middle;
}

.calculation .calc_content .min_max {
  font-size: 70%;
  padding: .3vw 3.5vw;
}
.calculation .calc_content .min_max:after {
  content: '';
  display: block;
  clear: both;
}
.calculation .calc_content .min_max .min {
  float: left;
}
.calculation .calc_content .min_max .max {
  float: right;
}
.calculation .calc_content .border_loan {
  border:1px solid #c6c6c6;
  padding: .3vw;
  -webkit-border-radius:14px;
  -moz-border-radius:14px;
  border-radius: 14px;
  width: 80%;
  margin-left: 3.5vw;
}
.calculation .return_div {
  font-size: 80%;
  padding: .7vw 3.5vw;
}
.calculation .return_div .sum_return,
.calculation .return_div .date_return {
  font-weight: 700;
  font-size: 120%;
}
.calculation .new_client {
  padding: 0 3.5vw;
}
.calculation .text {
  vertical-align: top;
  font-size: 80%;
}
.calculation .new_client input[type="checkbox"] {
  display:none;
}
.calculation .new_client input[type="checkbox"] + label{
  cursor: pointer;
  vertical-align: top;
}
.calculation .new_client input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  height: 1vw;
  width: 1vw;
  border:2px solid #52a903;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  margin-right: 5px;
}
.calculation .new_client input[type="checkbox"]:checked + label::before {
  background: url("../img/yes.png") no-repeat center / 60%;
}
.calculation .issue_button {
  text-align: center;
}
.calculation .issue_button input:hover {
  background: -moz-linear-gradient(90deg, rgba(57,140,13,1) 0%, rgba(57,140,13,1) 49%, rgba(68,166,14,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(68,166,14,1)), color-stop(51%, rgba(57,140,13,1)), color-stop(100%, rgba(57,140,13,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(57,140,13,1) 0%, rgba(57,140,13,1) 49%, rgba(68,166,14,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(57,140,13,1) 0%, rgba(57,140,13,1) 49%, rgba(68,166,14,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(57,140,13,1) 0%, rgba(57,140,13,1) 49%, rgba(68,166,14,1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(57,140,13,1) 0%, rgba(57,140,13,1) 49%, rgba(68,166,14,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44a60e', endColorstr='#398c0d',GradientType=0 ); /* ie6-9 */
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
.calculation .issue_button input {
  text-align: center;
  background: -moz-linear-gradient(90deg, #4dae0b 0%, #4dae0b 53%, #74cb00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #74cb00), color-stop(47%, #4dae0b), color-stop(100%, #4dae0b));
  background: -webkit-linear-gradient(90deg, #4dae0b 0%, #4dae0b 53%, #74cb00 100%);
  background: -o-linear-gradient(90deg, #4dae0b 0%, #4dae0b 53%, #74cb00 100%);
  background: -ms-linear-gradient(90deg, #4dae0b 0%, #4dae0b 53%, #74cb00 100%);
  background: linear-gradient(0deg, #4dae0b 0%, #4dae0b 53%, #74cb00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74cb00', endColorstr='#4dae0b',GradientType=0 );
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
  border: none;
  color: #ffffff;
  width: 15vw;
  height: 3.4vw;
  margin-top: 2.5vw;
  font-size: 110%;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

/*********************************************/
/*RANGE*/
/*********************************************/
.range-slider {
  position: relative;
  margin-bottom: 2.04vw;
}

.range-slider__input {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.range-slider__input:focus {
  outline: none;
}

.range-slider_min,
.range-slider_max {
  position: absolute;
  bottom: -1vw;
  color: #262F47;
  font-size: .62vw;
  font-weight: 400;
}

.range-slider_min {
  left: 0;
}

.range-slider_max {
  right: 0;
}

/** 1. Remove outline on FF.*/
.range-slider__input::-moz-focus-outer {
  border: 0;
}

.range-slider__input::-webkit-slider-runnable-track {
  width: 100%;
  height: .31vw;
  cursor: pointer;
  background-color: #3c3c3c;
  border-radius: 2px;
}

.range-slider__input::-webkit-slider-thumb {
  box-sizing: content-box;
  width: 1.19vw;
  height: 1.19vw;
  background-color: #4AAC0C;
  margin-top: -0.83vw;
  border: .4vw solid white;
  box-shadow: 0 0 0 1px #48AA0D;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.range-slider__input::-webkit-slider-thumb:hover {
  background-color: #ebbb0a;
}
.range-slider__input::-moz-range-thumb:hover {
  background-color: #ebbb0a;
}
.range-slider__input::-ms-thumb:hover {
  background-color: #ebbb0a;
}


.range-slider__input::-moz-range-track {
  width: 100%;
  height: .31vw;
  cursor: pointer;
  background-color: #3c3c3c;
}

.range-slider__input::-moz-range-thumb {
  box-sizing: content-box;
  width: 1.19vw;
  height: 1.19vw;
  background-color: #4AAC0C;
  margin-top: -0.83vw;
  border: .4vw solid white;
  box-shadow: 0 0 0 1px #48AA0D;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.range-slider__input::-ms-track {
  width: 100%;
  height: .31vw;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #3c3c3c;
  border-radius: 2px;
  appearance: none;
  overflow: auto;
}

.range-slider__input::-ms-fill-lower {
  background: #666;
  border-radius: 0;
  height: 2px;
  box-sizing: border-box;
}

.range-slider__input::-ms-fill-upper {
  background: #CCC;
  border-radius: 0;
  height: 2px;
  box-sizing: border-box;
}

.range-slider__input::-ms-thumb {
  width: 2.29vw;
  height: 2.29vw;
  position: relative;
  background-color: #4AAC0C;
  margin-top: -0.83vw;
  border: .4vw solid white;
  box-shadow: 0 0 0 1px #48AA0D;
  cursor: pointer;
  appearance: none;
  box-sizing: content-box;
  z-index: 999;
}

/*calculation-view*/
.calculation-view {
  margin-bottom: 1.1vw;
  text-align: justify;
}

.calculation-view::after {
  content: '';
  width: 100%;
  display: inline-block;
}

.calculation-view_item {
  display: inline-block;
}

.calculation-view_input {
  display: none;
}

.calculation-view_label {
  position: relative;
  display: block;
  background-color: #F4F4F4;
  border-radius: 4px;
  color: #606060;
  font-size: .73vw;
  padding: .73vw 2.5vw;
  cursor: pointer;
  font-weight: 400;
}

.calculation-view_item input[type=radio]:checked + .calculation-view_label {
  background-color: #44A70E;
  background-image: linear-gradient(to top, #44A70E 0%, #44A70E 0%, #74CB00 100%);
  color: #Fff;
  /*padding: .73vw 1.4vw .73vw 2.76vw;*/
}
.calculation-view_item input[type=radio]:checked + .calculation-view_label span{
  display: inline-block;
  transform: translateX(.2vw);
}
.calculation-view_item input[type=radio]:checked + .calculation-view_label::after {
  content: '';
  background: url("../img/icon-check-white.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 1.04vw;
  height: .98vw;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 1.24vw;
  transition: all .2s ease-out;
}
